modules = ["python-3.12"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "gh", "run", "tecoc", "vim", "psmisc", "lsof"]

[workflows]
runButton = "Run GIS AI Agent"

[[workflows.workflow]]
name = "Run GIS AI Agent"
author = 39423300
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python src/app.py"

[[ports]]
localPort = 5000
externalPort = 80
